<!doctype html>

<html>
    <head>
      <title>Flask app</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>


    <center> <h1>Welcome to Chargin!</h1>
        <img src="static/background.jpg" alt="deadbeef">

        {% from "_formhelpers.html" import render_field %}
        <form method=post>
            <dl>
                {{ render_field(form.select) }}
                <p>
                {{ render_field(form.start) }}
                <p>
                {{ render_field(form.dest) }}
            </dl>
            <p><input type=submit value=Search>
                <input type=submit name="Visualization" value=Visual>
        </form>
    </center>

    </body>
</html>
